<html>

  <div>
    {{ minErr }}
    <form [formGroup]="form" (ngSubmit)=" addProfile() ">
      <input name="name" formControlName="name" /> <br>
      <small class="red" *ngIf=" reqErr "> please input name </small>
      <small class="red" *ngIf=" minErr "> Name must be atleast 5 characters and above</small>
    </form>
  </div>

  <div *ngFor=" let profile of profileList | async ">
    
    <p>
     ID: {{ profile?.id }} <br>
     Name: {{ profile?.name }}
    </p>
    <button class="red" (click)="deleteProfile(profile.id)"> Delete Profile </button>
  </div>

</html>