<html>

<div>
  <form [formGroup]="form" (ngSubmit)=" addProfile() ">
    <input style="margin-right: .5em; height: 2em;" name="name" formControlName="name" />
    <small class="red" *ngIf=" reqErr "> please input name </small>
    <small class="red" *ngIf=" minErr "> Name must be atleast 5 characters and above</small>
  </form>
</div>

<div style="margin-top: 1em;" *ngFor=" let profile of profileList | async ">


  <div> ID: {{ profile?.id }} <br>
    <span *ngIf=" idOnEdit !== profile.id ">
      Name: {{ profile?.name }}
    </span>
  </div>

  <app-edit-profile [profile]="profile" (result)="idOnEdit = 0" *ngIf=" idOnEdit == profile.id "></app-edit-profile>

  <div>

    <button (click)=" idOnEdit = profile.id " *ngIf=" idOnEdit != profile.id "> Edit </button>
    <button (click)=" idOnEdit = 0 " *ngIf=" idOnEdit == profile.id "> Cancel </button>
    <button style="margin-left: .5em;" class="red" (click)="deleteProfile(profile.id)"> Delete Profile </button>
  </div>
</div>

</html>